@font-face {
  font-family: 'oycdksjw';
  src: url(./FZZJ-OYCDKSJW.TTF);
}
#fullpage {
  color: #fff;
  font-family: 'oycdksjw';
  font-size: 24px;
}
.strong {
  font-weight: bolder;
  font-size: 30px;
}
/** section1 */
.section1 {
  text-align: center;
  background: url(../img/1.jpg) center no-repeat;
}
.section1 .logo {
  width: 50%;
}
.section1 .title {
  font-size: 40px;
}
/** section2 */
.section2 {
  padding: 10px;
  background: url(../img/2.jpg) center no-repeat;
}
.section3 {
  position: relative;
  background: url(../img/3.jpg) center no-repeat;
}
.section3 img {
  position: relative;
  width: 260px;
}
.section3 img:nth-child(odd) {
  left: 150px;
}
.section3 img:nth-child(even) {
  right: 0
}
.section4 {
  padding: 10px;
  background: url(../img/4.jpg) center no-repeat;
}